In [1]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.

'd:\Users\lucas\OneDrive\Documentos\PROGRAMA��O\IA\Python\IA' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.

In [2]:
pip install openpyxl

Note: you may need to restart the kernel to use updated packages.

'd:\Users\lucas\OneDrive\Documentos\PROGRAMA��O\IA\Python\IA' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.

In [3]:
import pandas as pd
import openpyxl
import os

In [4]:
# carrega arquivo
xls = pd.ExcelFile("BD_MODELOS.xlsx")

# 'extrai' aba 1
paredesBD = pd.read_excel(xls, sheet_name='Paredes')
blocosBD = pd.read_excel(xls, sheet_name='Blocos')

display(blocosBD)

    Id    Cod  Fiada Blocos   Xi   Yi
0    1  P0001      1    B39    0   20
1    2  P0001      1    B39   40   20
2    3  P0001      1    B39   80   20
3    4  P0001      1    B39  120   20
4    5  P0001      1    B39  160   20
..  ..    ...    ...    ...  ...  ...
79  80  P0001     13    B39   40  260
80  81  P0001     13    B39   80  260
81  82  P0001     13    B39  120  260
82  83  P0001     13    B39  160  260
83  84  P0001     13    B39  200  260

[84 rows x 6 columns]

In [5]:
Par = paredesBD["Parede"]
Par

0    Parede 1
Name: Parede, dtype: object

In [6]:
COD = paredesBD["Cod"]
COD

0    P0001
Name: Cod, dtype: object

In [7]:
Blocos = blocosBD.loc[blocosBD["Cod"]== COD[0], "Blocos"].replace("B", "")
display(Blocos.head(10))

0    B39
1    B39
2    B39
3    B39
4    B39
5    B39
6    B19
7    B39
8    B39
9    B39
Name: Blocos, dtype: object

In [8]:
 #for i in range(len(blocos)):
Tipo = blocosBD.loc[1, "Blocos"].replace("B", "")
#Tipo.replace("B", "")
print(Tipo)

39

In [9]:
#Visualizando dados da plotagem
PTX = []
PTY = []
TIPOS = []
FIADA = []

Blocos = {
  'FIADA': FIADA,
  'TIPOS': TIPOS,
  'X': PTX,
  'Y': PTY,
}

nF = 1
X = 0
Y = 0

for i in range(len(blocosBD)):
  tipo = blocosBD.loc[i, "Blocos"].replace("B", "")
  fiada = blocosBD.loc[i, "Fiada"]
    
  if fiada == nF:
    if i == 0:
        X = 0
    else:
        X += int(tipo) + 1
  else:
    X = 0
    Y += 20
    nF += 1
    
  PTX.append(X)
  PTY.append(Y)
  TIPOS.append(tipo)
  FIADA.append(fiada)
    
ParedeBlocos = pd.DataFrame(Blocos) 
display(ParedeBlocos.head(20))

    FIADA TIPOS    X   Y
0       1    39    0   0
1       1    39   40   0
2       1    39   80   0
3       1    39  120   0
4       1    39  160   0
5       1    39  200   0
6       2    19    0  20
7       2    39   40  20
8       2    39   80  20
9       2    39  120  20
10      2    39  160  20
11      2    39  200  20
12      2    19  220  20
13      3    39    0  40
14      3    39   40  40
15      3    39   80  40
16      3    39  120  40
17      3    39  160  40
18      3    39  200  40
19      4    19    0  60

In [10]:
PTX = []
PTY = []
TIPOS = []
FIADA = []

Blocos = {
  'FIADA': FIADA,
  'TIPOS': TIPOS,
  'X': PTX,
  'Y': PTY,
}

nF = 1
X = 0
Y = 0

for i in range(len(blocosBD)):
  tipo = blocosBD.loc[i, "Blocos"].replace("B", "")
  fiada = blocosBD.loc[i, "Fiada"]
    
  if fiada == nF:
    X += int(tipo) + 1
  else:
    X = 200
    nF += 1
    Y += int(fiada) * 20
    
  PTX.append(X)
  PTY.append(Y)
  TIPOS.append(tipo)
  FIADA.append(fiada)
    
ParedeBlocos = pd.DataFrame(Blocos) 
display(ParedeBlocos.head(10))

   FIADA TIPOS    X   Y
0      1    39   40   0
1      1    39   80   0
2      1    39  120   0
3      1    39  160   0
4      1    39  200   0
5      1    39  240   0
6      2    19  200  40
7      2    39  240  40
8      2    39  280  40
9      2    39  320  40

In [12]:
d = 2 % 2 
print(d)

0