In [22]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lucas\miniconda3\lib\site-packages (1.3.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\lucas\miniconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\lucas\miniconda3\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lucas\miniconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\lucas\miniconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd

In [24]:
# carrega arquivo
xls = pd.ExcelFile("Coletar Modelos de Paredes.xlsm")

# 'extrai' Paredes
Paredes_df = pd.read_excel(xls, sheet_name='Paredes')
Paredes_df  = Paredes_df.dropna(how='all', axis=0)
Paredes_df  = Paredes_df.dropna(how='all', axis=1)
Paredes_df  = Paredes_df.drop('DeltaY', axis=1)

display(Paredes_df)

,ID par,Layer,Xi,Yi,Xf,Yf,Lenght,ID Texto,Texto,ID esq,Layer esq
0,P0001,PAR01,26.4252,0,34.1652,0,7.7400,T0008,PAREDE 23,E0009; E0010,ESQ06; ESQ01
1,P0002,PAR01,65.1489,0,74.1389,0,8.9900,T0001,PAREDE 14,E0002; E0003,ESQ01; ESQ06
2,P0003,PAR01,58.7989,0,65.1489,0,6.3500,T0002,PAREDE 13,E0001; E0004,ESQ09; ESQ06
3,P0004,PAR01,0.0000,0,2.3900,0,2.3900,T0003,PAREDE 0,NaN,NaN
4,P0005,PAR02,5.7453,0,8.9353,0,3.1900,T0004,PAREDE 2=20,NaN,NaN
5,P0006,PAR03,52.8452,0,54.8389,0,1.9937,T0005,PAREDE 11AB,E0005,ESQ02
6,P0007,PAR01,44.8052,0,49.8527,0,5.0475,T0006,PAREDE 1,E0006; E0007,ESQ01; ESQ08
7,P0008,PAR01,38.1652,0,41.8052,0,3.6400,T0007,PAREDE 19,E0008,ESQ07
8,P0009,PAR01,19.0252,0,26.4252,0,7.4000,T0009,PAREDE 22,E0011; E0012,ESQ05; ESQ04
9,P0010,PAR04,10.9353,0,16.6752,0,5.7399,T0010,PAREDE 4 (7x),E0013; E0014,ESQ01; ESQ03

In [25]:
# 'extrai' Î”Y
DeltaY = pd.read_excel(xls, sheet_name='Paredes')
DeltaY = DeltaY.loc[0, 'DeltaY']
display(DeltaY)

15.0

In [26]:
# 'extrai' Esquadrias
Esquadrias_df = pd.read_excel(xls, sheet_name='Esq').dropna(how='all', axis=0)
display(Esquadrias_df)

,ID esq,Layer,Xi,Yi,Xf,Yf,Largura,Altura,Peitoril,ID par,Layer par
0,E0001,ESQ09,64.5389,0.474,64.7489,0.474,21,21,20,P0003,PAR01
1,E0002,ESQ01,66.5389,0.274,67.7489,0.274,121,121,100,P0002,PAR01
2,E0003,ESQ06,69.3389,0.274,71.3489,0.274,201,121,100,P0002,PAR01
3,E0004,ESQ06,62.7389,0.274,64.7489,0.274,201,121,100,P0003,PAR01
4,E0005,ESQ02,53.2815,0.400,54.4026,0.400,112,221,0,P0006,PAR03
5,E0006,ESQ01,47.5952,0.400,48.8052,0.400,121,121,100,P0007,PAR01
6,E0007,ESQ08,45.1952,0.400,46.4052,0.400,121,101,120,P0007,PAR01
7,E0008,ESQ07,38.3552,0.400,39.2654,0.400,91,221,0,P0008,PAR01
8,E0009,ESQ06,29.3652,0.400,31.3752,0.400,201,121,100,P0001,PAR01
9,E0010,ESQ01,27.1652,0.400,28.3752,0.400,121,121,100,P0001,PAR01
10,E0011,ESQ05,24.2152,0.400,25.0252,0.400,81,101,0,P0009,PAR01
11,E0012,ESQ04,22.2152,0.400,22.8252,0.400,61,81,140,P0009,PAR01
12,E0013,ESQ01,14.6753,0.400,15.8853,0.400,121,121,100,P0010,PAR04
13,E0014,ESQ03,11.8752,0.400,13.4853,0.400,161,221,0,P0010,PAR04

In [27]:
# 'extrai' LinFiadas
LinFiadas_df = pd.read_excel(xls, sheet_name='Fiadas')
LinFiadas_df = LinFiadas_df.dropna(how='all', axis=0)
LinFiadas_df = LinFiadas_df.drop('Unnamed: 10', axis=1)

display(LinFiadas_df)

,ID fiada,Xi,Yi,Xf,Yf,Tipo,Layer,NÃºmFiada,ID par,Check
0,F140001,11.0853,17.61,16.6752,17.61,LINE,FIADAS,14,P0010,NaN
1,F130001,11.0853,17.41,16.6752,17.41,LINE,FIADAS,13,P0010,NaN
2,F120001,11.0853,17.21,16.6752,17.21,LINE,FIADAS,12,P0010,NaN
3,F110001,15.8853,17.01,16.6752,17.01,LINE,FIADAS,11,P0010,NaN
4,F110002,13.4853,17.01,14.6753,17.01,LINE,FIADAS,11,P0010,NaN
...,...,...,...,...,...,...,...,...,...,...
208,F050014,26.4252,15.81,34.1652,15.81,LINE,FIADAS,5,P0001,NaN
209,F040014,26.4252,15.61,34.1652,15.61,LINE,FIADAS,4,P0001,NaN
210,F030014,26.4252,15.41,34.1652,15.41,LINE,FIADAS,3,P0001,NaN
211,F020016,26.4252,15.21,34.1652,15.21,LINE,FIADAS,2,P0001,NaN
212,F010014,26.4252,15.01,34.1652,15.01,LINE,FIADAS,1,P0001,NaN

In [28]:
# 'extrai' Blocos
Blocos_df = pd.read_excel(xls, sheet_name='Blocos')
Blocos_df = Blocos_df.dropna(how='all', axis=0)
Blocos_df = Blocos_df.dropna(how='all', axis=1)
Blocos_df = Blocos_df.drop(['Unnamed: 11', 'Unnamed: 12'], axis=1)
display(Blocos_df)

,ID bloco,Xi,Yi,Xf,Yf,Tipo,Layer,Lenght,ID fiada,ID par
0,B14000007,16.5352,17.61,16.6752,17.8,POLYLINE,BP,14,F140001,P0010
1,B14000007,16.5352,17.21,16.6752,17.4,POLYLINE,BP,14,F120001,P0010
2,B14000007,16.5352,16.81,16.6752,17.0,POLYLINE,BP,14,F100001,P0010
3,B14000007,16.5352,16.41,16.6752,16.6,POLYLINE,BP,14,F080001,P0010
4,B14000007,16.5352,16.01,16.6752,16.2,POLYLINE,BP,14,F060001,P0010
...,...,...,...,...,...,...,...,...,...,...
1510,B39001219,1.2000,15.01,1.5900,15.2,POLYLINE,B39,39,F010011,P0004
1511,B39001219,1.6000,15.01,1.9900,15.2,POLYLINE,B39,39,F010011,P0004
1512,B39001219,0.8000,15.01,1.1900,15.2,POLYLINE,B39,39,F010011,P0004
1513,B39001219,0.0000,15.01,0.3900,15.2,POLYLINE,B39,39,F010011,P0004
1514,B39001219,0.4000,15.01,0.7900,15.2,POLYLINE,B39,39,F010011,P0004

# **Procurando Dados da Parede Selecionada**

In [31]:
ParSelc = 'PAREDE 4 (7x)'
Pesq = True
i = 0

while Pesq:
  if Paredes_df.loc[i, 'Texto'] == ParSelc:
    ParSelcID = Paredes_df.loc[i, 'ID par']
    ParSelcXi = Paredes_df.loc[i, 'Xi']
    ParSelcYi = Paredes_df.loc[i, 'Yi']
    Pesq = False
  else:
    i += 1

  
print(ParSelcID)
print(ParSelcXi)
print(ParSelcYi)

P0010
10.9353
0

In [ ]:
EsqSelc = Esquadrias.loc[Esquadrias['ID par'] == ParSelcID]
EsqSelc['Xid'] = round((Esquadrias['Xi'] - ParSelcXi) * 100, 0)
EsqSelc['Yid'] = round(Esquadrias['Peitoril'], 0)
display(EsqSelc)

<ipython-input-9-4c0b68019230>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EsqSelc['Xid'] = round((Esquadrias['Xi'] - ParSelcXi) * 100, 0)
<ipython-input-9-4c0b68019230>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EsqSelc['Yid'] = round(Esquadrias['Peitoril'], 0)

,ID,Layer,Xi,Yi,Xf,Yf,Largura,Altura,Peitoril,ID par,Layer par,Xid,Yid
13,E0014,ESQ01,14.6753,0.4,15.8853,0.4,121,121,100,A0010,ALV04,374.0,100
14,E0015,ESQ03,11.8752,0.4,13.4853,0.4,161,221,0,A0010,ALV04,94.0,0

In [1]:
FiadaSelc = Fiadas_df.loc[Fiadas_df['ID par'] == ParSelcID]
FiadaSelc['Xid'] = round((Fiadas_df['Xi'] - ParSelcXi) * 100, 0)
FiadaSelc['Yid'] = round((Fiadas_df['Yi'] - ParSelcYi - DeltaY) * 100 - 1, 0)
display(FiadaSelc)

NameError: name 'Fiadas_df' is not defined

In [ ]:
BlocosSelc = Blocos.loc[Blocos['ID par'] == ParSelcID]
BlocosSelc['Xid'] = round((BlocosSelc['Xi'] - ParSelcXi) * 100, 0)
BlocosSelc['Yid'] = round((BlocosSelc['Yi'] - ParSelcYi - DeltaY) * 100 - 1, 0)
display(BlocosSelc)

<ipython-input-11-1ccbd79109c8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BlocosSelc['Xid'] = round((BlocosSelc['Xi'] - ParSelcXi) * 100, 0)
<ipython-input-11-1ccbd79109c8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BlocosSelc['Yid'] = round((BlocosSelc['Yi'] - ParSelcYi - DeltaY) * 100 - 1, 0)

,ID,Xi,Yi,Xf,Yf,Tipo,Layer,Lenght,ID fiada,ID par,Check,Xid,Yid
0,B14000007,16.5352,17.61,16.6752,17.8,POLYLINE,BP,14,F140001,A0010,NaN,560.0,260.0
1,B14000007,16.5352,17.21,16.6752,17.4,POLYLINE,BP,14,F120001,A0010,NaN,560.0,220.0
2,B14000007,16.5352,16.81,16.6752,17.0,POLYLINE,BP,14,F100001,A0010,NaN,560.0,180.0
3,B14000007,16.5352,16.41,16.6752,16.6,POLYLINE,BP,14,F080001,A0010,NaN,560.0,140.0
4,B14000007,16.5352,16.01,16.6752,16.2,POLYLINE,BP,14,F060001,A0010,NaN,560.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1426,B39001150,14.6853,15.01,15.0753,15.2,POLYLINE,B39,39,F010001,A0010,NaN,375.0,-0.0
1427,B39001151,15.0853,15.01,15.4753,15.2,POLYLINE,B39,39,F010001,A0010,NaN,415.0,-0.0
1428,B39001152,15.4853,15.01,15.8753,15.2,POLYLINE,B39,39,F010001,A0010,NaN,455.0,-0.0
1429,B39001153,15.8853,15.01,16.2753,15.2,POLYLINE,B39,39,F010001,A0010,NaN,495.0,-0.0
1430,B39001154,16.2853,15.01,16.6753,15.2,POLYLINE,B39,39,F010001,A0010,NaN,535.0,-0.0